
body {background-color: rgb(122, 119, 115);}
p {font-size: 25px; 
    font-style: italic; 
    color: orange;
    font-family: 'Times New Roman', Times, serif;
background-color: black;
text-decoration: ;}

